---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

I teach undergraduate courses on American politics and graduate ones on institutions, representation, political economy, American political development, and political methodology.

<h2>Syllabi</h2>
<ul>
  <li> 17.20 (undergraduate): Introduction to American Politics (syllabus) </li>
  <li> 17.263/264 (undergraduate/graduate): U.S. National Elections (syllabus) </li>
  <li> 17.S918 (undergraduate): Southern Politics since 1863 (syllabus) </li>
  <li> 17.150 (graduate): The American Political Economy in Comparative Perspective (syllabus) </li>
  <li> 17.202 (graduate): American Political Institutions (syllabus) </li>
  <li> 17.850 (graduate): Political Science Scope and Methods (syllabus) </li>
  <li> 17.S951 (graduate): Political Representation in American Politics (syllabus) </li>
</ul>