---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

I teach undergraduate courses on American politics and graduate ones on institutions, representation, political economy, American political development, and political methodology.

<h2>Undergraduate</h2>
<ul>
  <li> 17.20: Introduction to American Politics (<a href="/files/syllabi/17.20_syllabus_fa22.pdf" >fall 2022 syllabus</a>) </li>
  <li> 17.263: Electoral Politics (<a href="/files/syllabi/17.263_syllabus_fa20.pdf" >fall 2020 syllabus</a>) </li>
  <li> 17.S918: Southern Politics since 1863 (<a href="/files/syllabi/17.S918_syllabus_sp16.pdf" >spring 2016 syllabus</a>) </li>
</ul>

<h2>Graduate</h2>
<ul>
  <li> 17.202: American Political Institutions (<a href="/files/syllabi/17.202_syllabus_sp23.pdf" >spring 2023 syllabus</a>) </li>
  <li> 17.850: Political Science Scope and Methods (<a href="/files/syllabi/17.850_syllabus_fa22.pdf" >fall 2022 syllabus</a>) </li>
  <li> 17.270: American Political Development (<a href="/files/syllabi/17.270_syllabus_sp22.pdf" >spring 2022 syllabus</a>) </li>
  <li> 17.S950: Bayesian Measurement Models (<a href="/files/syllabi/17.S950_syllabus_sp22.pdf" >spring 2022 syllabus</a>) </li>
  <li> 17.830: Empirical Methods in Political Economy (<a href="/files/syllabi/17.830_syllabus_fa20.pdf" >fall 2020 syllabus</a>) </li>
  <li> 17.S951: Political Representation in American Politics (<a href="/files/syllabi/17.S951_syllabus_sp19.pdf" >spring 2019 syllabus</a>) </li>
  <li> 17.150: The American Political Economy in Comparative Perspective (<a href="/files/syllabi/17.150_syllabus_fa13.pdf" >fall 2013 syllabus</a>) </li>
</ul>